<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= link_to "Signout", logout_user_path, method: :delete %>
<% if !@current_user %>
<h1>LogIn</h1>

<%= form_tag login_user_path do %>
<div><%= text_field_tag :email,"", placeholder:"Email" %></div>
<div><%= password_field_tag :password,"", placeholder: "password" %></div>
<div><%= submit_tag :"Log In" %> </div>
<% end %> 

<h1>Sign Up</h1>

<%= form_for @user do |f| %>
<div><%=f.label :Email%></div>
<div><%=f.text_field :email, required: true %></div>
<div><%=f.label :Last_Name%></div>
<div><%=f.text_field :lname, required: true %></div>
<div><%=f.label :First_Name%></div>
<div><%=f.text_field :fname, required: true %></div>
<div><%=f.label :username%></div>
<div><%=f.text_field :username, required: true %></div>
<div><%=f.label :zipcode%></div>
<div><%=f.text_field :zipcode, required: true %></div>
<div><%=f.label :Password %></div>
<div><%=f.password_field :password, required: true  %></div>
<div><%=f.label :password_confirmation%></div>
<div><%=f.password_field :password_confirmation, required: true %></div>
<div><%=f.submit :"Sign Up" %></div>
<% end %> 

<% else%>
<h1>Logged In!</h1>
<% end %>


