<!-- this page you can sign up or log in -->
<%= content_tag :p, "Lets Go Out!", id: "lets-go"%>
<%= content_tag :div, id: "landing" do %>

<% if !@current_user %>

<!-- for user to sign in -->
<h1>Log In</h1>

<%= form_tag login_user_path do %>
<div><%= text_field_tag :email,"", placeholder:"Email" %></div>
<div><%= password_field_tag :password,"", placeholder: "password" %></div>
<div><%= submit_tag :"Log In" %> </div>
<% end %> 


<!-- for new guests to sign up -->
<h1>Sign Up</h1>

<%= form_for @user_signing_in do |f| %>
<div><%=f.label :Email%></div>
<div><%=f.text_field :email, required: true %></div>
<div><%=f.label :Last_Name%></div>
<div><%=f.text_field :lname, required: true %></div>
<div><%=f.label :First_Name%></div>
<div><%=f.text_field :fname, required: true %></div>
<div><%=f.label :username%></div>
<div><%=f.text_field :username, maxlength: 10, required: true %></div>
<div><%=f.label :zipcode%></div>
<div><%=f.text_field :zipcode, required: true %></div>
<div><%=f.label :Password %></div>
<div><%=f.password_field :password, required: true  %></div>
<div><%=f.label :password_confirmation%></div>
<div><%=f.password_field :password_confirmation, required: true %></div>
<div><%= f.file_field :avatar %></div>
<div><%=f.submit :"Sign Up" %></div>
<% end %> 

<% else%>
<h1>Logged In!</h1>
<% end %>
<% end %>

