<!-- this page you can sign up or log in -->
<%= content_tag :p, "Lets Go Out!", id: "lets-go"%>
<%= content_tag :div, id: "landing" do %>

<% if !@current_user %>

<!-- for user to sign in -->
<h1>Log In</h1>

<%= form_tag login_user_path do %>
<div><%= text_field_tag :email,"", placeholder:"Email" %></div>
<div><%= password_field_tag :password,"", placeholder: "password" %></div>
<div><%= submit_tag :"Log In" %> </div>
<% end %> 


<!-- for new guests to sign up -->
<h1>Sign Up</h1>

<%= form_for @user_signing_in do |f| %>

<div><%=f.text_field :username, placeholder: "Username", maxlength: 10, required: true %></div>
<div><%=f.text_field :email, placeholder: "Email", required: true %></div>
<div><%=f.text_field :lname, placeholder: "Last Name", required: true %></div>
<div><%=f.text_field :fname, placeholder: "First Name",required: true %></div>
<div><%=f.text_field :zipcode, placeholder: "Zipcode",required: true %></div>
<div><%=f.password_field :password, placeholder: "Password", required: true  %></div>
<div><%=f.password_field :password_confirmation, placeholder: "Password Confirmation", required: true %></div>
<div><%= f.file_field :avatar %></div>
<div><%=f.submit :"Sign Up" %></div>
<% end %> 

<% else%>
<h1>Logged In!</h1>
<% end %>
<% end %>

