<h1>Groups#index</h1>
<p>Find me in app/views/groups/index.html.erb</p>
<%= link_to "My Page", user_path(@user.id) %>

<!-- form for creating new group -->
<%= form_for Group.new, url: '/newgroup', html: {method: :post} do |f| %>
			<!-- creating of group -->
			<%= content_tag :div, id: "create-group" do %>
				<%= content_tag :p, "Create a Group" %>
			
					<%= f.text_field :title,required: true, placeholder: "title", id: "title-group", class: "" %>
					<%= f.submit :Submit, id: "group-submit" %>
					<% end %>
				<% end %>
		
<!-- List your groups -->
	<% if @current_user.id %>
		<% @current_user.groups.each do |g| %>
			<div><%= link_to "#{g.title}", user_group_path(@user.id, g.id)%>
			<%= link_to "Delete Group", user_group_path(@current_user.id, g.id), {:method => :delete} %>
			
			</div>
		<% end %>
	<% end %>