
<%= content_tag :div, class: "show-users" do %>

<%= content_tag :div, class: "all-users" do %>
<h2>All of the Users</h2>
			<!-- displaying all users -->
			
			<% @users.each do |u| %>
				<% if u!= @user%>
				<div><%= u.username %></div>

				<% if @user.user_friends.include? u%>
					<%= link_to "Unfollow", update_follow_status_path({user_id: u.id}), :method => :post%>

				<% else %>
					<%= link_to "Follow", update_follow_status_path({user_id: u.id}), :method => :post%>

				<% end %>
				<% end %>

			<!-- to add followers to group -->

				
					 <!-- link_to "Leave Group", update_group_status_path(:id => u.id), :method => :post -->

				
	
<% end %>		
			<% end %>

		<!-- display the people you follow -->
<%= content_tag :div, class: "your-users" do %>

		<h3>People you are following</h3>
			<% @user.user_friends.each do |u| %>
			<!-- avatar for each user -->
			<%= image_tag @user.avatar.url(:thumb) %>
			<!-- links to othe user's page -->
				<div><%= link_to"#{u.username}", user_path(u.id)%></div>
			<% end %>
<% end %>
<% end %>
