
<%= content_tag :div, class: "show-users" do %>


		<!-- display the people you follow -->
	<%= content_tag :div, class: "your-users" do %>
	
			<h3>People you are following</h3>
			
				<% @user.user_friends.each do |u| %>
					<%= content_tag :div, class: "eusers" do %>
				<!-- avatar for each user -->
				<div><%= image_tag u.avatar.url(:thumb) %></div>

				<!-- links to othe user's page -->
					<div><%= link_to"#{u.username}", user_path(u.id)%></div>
					<div><%= link_to "email",invite_user_path({user_id: u.id}) %></div>
				<% end %>
			<% end %>
	<% end %>
<% end %>
<hr>
	<%= content_tag :div, class: "all-users" do %>
	<h2>All of the Users</h2>
			<!-- displaying all users -->
		
			<% @users.each do |u| %>
				<% if u!= @user%>
				<span class="uname"><%= u.username %></span>

				<% if @user.user_friends.include? u%>
					<%= link_to "(Unfollow)", update_follow_status_path({user_id: u.id}), :method => :post%>

				<% else %>
					<%= link_to "(Follow)", update_follow_status_path({user_id: u.id}), :method => :post%>

				<% end %>
				<% end %>
				
	
	<% end %>		
			<% end %>

