
<%= content_tag :div, class: "show-users" do %>


		<!-- display the people you follow -->
	<%= content_tag :div, class: "your-users" do %>
	
			<p class="page-header">People You Are Following</h3>
			
				<% @user.user_friends.each do |u| %>
					<%= content_tag :div, class: "e-users" do %>
				<!-- avatar for each user -->
				<div><%= image_tag u.avatar.url(:thumb) %></div>

				<!-- links to othe user's page -->
					<div><%= link_to"#{u.username}", user_path(u.id)%></div>
				<% end %>
			<% end %>
	<% end %>
<% end %>
<hr>
	<h2 class="page-header">All Of The Users</h2>
	<%= content_tag :div, class: "all-users" do %>
	
			<!-- displaying all users -->
		
			<% @users.each do |u| %>
				<% if u!= @user%>
				<span class="uname"><%= u.username %></span>

				<% if @user.user_friends.include? u%>
					<%= link_to "(Unfollow)", update_follow_status_path({user_id: u.id}), :method => :post%>

				<% else %>
					<%= link_to "(Follow)", update_follow_status_path({user_id: u.id}), :method => :post%>

				<% end %>
				<% end %>
				
	
	<% end %>		
			<% end %>

