
<h1>Hello <%= "Welcome #{@user.username}" %></h1>

<% if current_user %>

<%= link_to "Signout", logout_user_path, method: :delete %>

<%= link_to "Other Users", users_path %>
				
<%= link_to "#{@user.username}'s Groups", user_groups_path(@user.id)%>

<%= link_to "Places", place_path%>

<% end %>