
<h1>Hello <%= "Welcome #{@user.username}" %></h1>

<%= link_to "Signout", logout_user_path, method: :delete %>

<h2>Here is a list of all of our users</h2>

<% @users.each do |u| %>
<div><%= u.username %></div>
<% end %>

<!-- creates a new post -->

<%= content_tag :div, id: "postform" do %>
		
			<%= form_for Post.new, url: '/newpost', html: {method: :post} do |f| %>
			<!-- title of post -->
				<%= f.text_field :title,required: true, placeholder: "title", id: "title-input", class: "post-input" %>
				<!-- content of post -->
				<%= f.text_area :content, required: true, placeholder: "content", id: "content-input", class: "post-input" %>
				<%= f.submit :Post, id: "post-submit" %>
			<% end %>
		<% end %>
<!-- Display the posts -->

	<% @posts.each do |post| %>
		<%= content_tag :div, class: "post-card" do %>
			<%= content_tag :div, class: "post-card" do %>
				<%= content_tag :p, "#{post.title}", class: "post-card-comment-count" %>
				<%= content_tag :p, "#{post.content}", class: "post-card-comment-count" %>
				<%= content_tag :p, "posted by #{@user.username}" %>
			<% end %>
		<% end %>
	<% end %>

