<br>
<br>
<br>
<br>
<br>

<h2>Top Places to Eat!</h2>


<%= form_tag search_path, remote: :true, method: :post do %>
<%= text_field_tag :search %>
<%= submit_tag "SEARCH" %>
<% end %>


<!-- loads yelp display -->
<div id="yelps">
<%= render "yelp_places"%>
</div>

<!-- display google maps -->
<div id="mapper">
	<%= render "google_map"%>
</div>

<!-- list the restaurants from google API -->
<div id="thing"></div>

<%= render "places/users_places"%>
