<!DOCTYPE html>
<html>
<head>
	<title>Lets Go Out</title>
	<!-- src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js">
	 -->

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA26o9IPfAhrYGb1YJDMDBFDZRhAgQUC_w&libraries=places"></script>

<!-- 	src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'> -->
	 <!-- only if you need custom infoboxes -->
		
		<!-- old code that broke-hold until 4/1/16 -->
	 <!-- markers = handler.addMarkers(<%=raw @hash.to_json %>); -->
	 
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link href='https://fonts.googleapis.com/css?family=Mouse+Memoirs' rel='stylesheet' type='text/css'>
	<%= csrf_meta_tags %>

</head>
<body>

	<% if @current_user %>

	<%= content_tag :div, id: "navbar" do %>

	<%= link_to "Hello #{@current_user.username}", user_path(@current_user.id), class:"nav" %>

	<%= link_to "Other Users", users_path, class:"nav" %>

	<% if @current_user %>	

	<%= link_to "#{@current_user.username}'s Groups", user_groups_path(@current_user.id), class:"nav" %>
	<%end%>

	<%= link_to "Search Places", places_path, class:"nav"%>


	<%= link_to "Signout", logout_user_path, method: :delete, class:"nav" %>

	<% end %>

	<% end %>

	<%= yield %>
	<div class="flash-notice">
	<%= flash[:alert] if flash[:alert] %>
	<end>
</body>
</html>
